@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Poppins', sans-serif;
  background: #01225c;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #047aff, #01225c);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #047aff, #01225c); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */    
  min-height: 100vh;
}
